
div {
    
}

.header-container {
    color: rgb(39, 121, 124);
    border-bottom: solid 1px;
    border-color: rgb(39, 121, 124);
}
.content-container {
    background-color: white;
   
}


.actions-container {
    display: flex;
    justify-content: flex-end;
}

